body {
	background-color: #f9f9f9;
	background-repeat: repeat;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: #555555;
}

h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	padding-left: 22px;
	font-weight: 700;
	font-size: 26px;
}

h2 {
	font-family: 'Josefin Slab', serif;
	padding-left: 22px;
	font-weight: 700;
	font-size: 18px;
	padding-left: 22px;
}

#root {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

/* NAVIGATION */
nav {
	font-family: 'Josefin Slab', serif;
	font-size: 24px;
	float: left;
	padding: 70px 0 0 0;
}

nav li, nav li a {
	display: inline;
	text-decoration: none;
	margin-right: 25px;
	color: #555555;
}

#intro, #about{
	clear: both;
	width: 100%;
}

.active {
	color: #04756F;
}

/* component classes */
.comps {
	overflow-y: scroll;
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
	flex-wrap: nowrap;
}

.flex.add {
	align-items: center;
}

.floatright {
	float: right;
	clear: right;
}

.floatleft {
	float: left;
	clear: left;
}

/* scrollbar */
::-webkit-scrollbar {
      width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 15px;
    background: #555555;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #555555, 0.5;
}

/* component divs */

#goals, #journal, #notepad, #todo, #calendar {
	background-color: #ffffff;
	border-radius: 5px;
	padding: 0px 10px;
}

.todoItems, .goalItem, {
	padding-left: 20px;
}

#calendarItem li, #journalHistory li, #noteItem li {
	list-style: none;
}

#looseleaf-logo {
	padding: 20px 10px;
}

/* component elements */
textarea, .singleText {
	background-color: #ffffff;
	resize: inline;
	width: 95%;
	font-weight: 400;
	outline: none;
	resize: none;
	overflow: auto;
	border: none;
	border-style:none;
	clear: left;
}

.button {
	float: right;
	clear: right;
	text-align: center;
	border-radius: 20%;
	text-decoration: none;
	border: 2px solid #555555;
	background-color: #FFFFFF;

}

.button:hover {
	color: #ffffff;
	background-color: #04756F;
}

.glyphy {
	border-radius: 50%;
	color: #555555;
	padding: 5px 8px;
	font-size: 10px;
}

/* custom components */
.Ghead{
	color: #04756F;
}

#goals.comps {
	border: 1px solid #04756F;
}

#goals.comps::-webkit-scrollbar-thumb {
	background-color: #04756F;
}

.goals.button:hover {
	background-color: #3f6f70;
}

.Thead {
	color: #FF8C00;
}

#todo.comps {
	border: 1px solid #FF8C00;
}

#todo.comps::-webkit-scrollbar-thumb {
	background-color: #FF8C00;
}

.todo.button:hover {
	background-color: #FF8C00;
}

.Nhead {
	color:#FF2D00;
}

#notepad.comps {
	border: 1px solid #FF2D00;
}

#notepad.comps::-webkit-scrollbar-thumb {
	background-color: #FF2D00;
}

.notepad.button:hover {
	background-color: #FF2D00;
}

.Jhead{
	color: #8b0202;
}

#journal.comps {
	border: 1px solid #8b0202;
}

#journal.comps::-webkit-scrollbar-thumb {
	background-color: #8b0202;
}

.journal.button:hover {
	background-color: #8b0202;
}

.Chead{
	color: #621253;
}

#calendar.comps {
	border: 1px solid #621253;
}

#calendar.comps::-webkit-scrollbar-thumb {
	background-color: #621253;
}

.calendar.button:hover {
	background-color: #621253;
}

#login.textField, #signup.textField {
	margin: 5px 5px 5px 0px;
	line-height: 25px;
}

#artboard, #intro, #about {
	width: 90%;
	padding: 20px 0px;
	clear: both;
}

#about {
	margin: auto;
}

#intro {
	margin: auto;
	width: 40%;
}

#login-signup {
	width: 25%;
	margin: auto;
}

#login-signup > div {
	display: flex;
	justify-content: center;
}

#login-signup input {
	margin: 10px 5px;
}

#freedom {
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
}
